<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>expressTrace</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakePoint</servlet-name>
    <servlet-class>controller.MakePoint</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetPoint</servlet-name>
    <servlet-class>controller.GetPoint</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakePoint2</servlet-name>
    <servlet-class>controller.MakePoint2</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>MakePoint</servlet-name>
    <url-pattern>/point.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPoint</servlet-name>
    <url-pattern>/getPoint.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakePoint2</servlet-name>
    <url-pattern>/makepoint2.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>